<div class="container form my-5 px-5">
  <mat-card-title>
    <div class="flex-center">
      <img src="../../../assets/logo.svg" alt="" class="login-logo" />
    </div>
  </mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field style="width: 100%;" appearance="standard">
        <mat-label>First Name</mat-label>
        <input
          id="firstName"
          type="text"
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required
        />
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error>Your first name is required.</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%; " appearance="standard">
        <mat-label>University ID</mat-label>
        <input
          id="uniID"
          type="text"
          matInput
          placeholder="University ID Number"
          formControlName="uniID"
          required
        />
        <mat-icon matSuffix>credit_card</mat-icon>
        <mat-error>Your University ID is required.</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%; " appearance="standard">
        <mat-label>Email</mat-label>
        <input
          id="username"
          type="text"
          pattern="([A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,64})|([0-9]{10})"
          matInput
          placeholder="Email"
          formControlName="username"
          required
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>Valid email (pattern: example@abc.com) is required.</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%; " appearance="standard">
        <mat-label>Password</mat-label>
        <input
          id="password"
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error>Password must have more than 6 characters.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="ml-2 mb-1 action-button"
        mat-raised-button
        color="accent"
        style="width: 100%"
        type="submit"
      >
        Register
      </button>
    </mat-card-actions>
  </form>
  <div class="hr-heading">
    <div class="hr-heading-text">or</div>
  </div>
  <div class="mt-3 text-center">Already have an account? <a class="link" routerLink="/app/account/login">Login</a></div>
</div>
