.login-logo {
  width: 125px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
