.friends {
  margin-top: 10px;
  height: 200px;

  &__searchForm {
    bottom: 0;
    position: absolute;
  }

  &__cover {
    background-image: url('/assets/friends-cover.jpg');
    background-size: cover;
    position: relative;
  }

  &__container {
    margin-top: 20px;
    //text-align: center;
  }
}
