<mat-card class="friends friends__cover">
  <mat-form-field appearance="outline" style="width: 96%;" class=" friends__searchForm">
    <svg-icon matSuffix customSVGCss="display: block;" icon="profile"></svg-icon>
    <input matInput placeholder="Start typing to search friends" type="text">
  </mat-form-field>
</mat-card>
<div class="friends__container">
  <div class="row">
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
    <div class="col-md-6">
      <app-friend-card></app-friend-card>
    </div>
  </div>


</div>
