<mat-toolbar
  color="primary"
  class="d-none d-sm-block"
  style="padding-top: 10px"
>
  <div class="container">
    <span><img class="logo" src="../../../assets/logo.svg" /></span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="wall">
  <mat-sidenav
    #sidenav
    class="wall__sidenav"
    style="overflow: hidden; border: 0"
    (click)="screenWidth > 840 ? '' : sidenav.toggle()"
    [opened]="screenWidth > 840"
    [mode]="screenWidth > 840 ? 'side' : 'over'"
  >
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden">
    <div class="container">
      <div class="col-lg-12">
        <mat-card class="post">
          <mat-card-header>
            <div mat-card-header class="post__header-image"></div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
