<mat-toolbar
  color="primary"
  class="d-none d-sm-block"
  style="padding-top: 10px"
>
  <div class="container">
    <span><img class="logo" src="../../../assets/logo.svg" /></span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="wall">
  <mat-sidenav
    #sidenav
    class="wall__sidenav"
    style="overflow: hidden; border: 0"
    (click)="screenWidth > 840 ? '' : sidenav.toggle()"
    [opened]="screenWidth > 840"
    [mode]="screenWidth > 840 ? 'side' : 'over'"
  >
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: scroll">
    <div class="container wall__post_container">
      <div class="row">
        <div class="col-sm-7">
          <app-posts></app-posts>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
