@import '../../theme.colors.scss';

.wall {
  height: calc(100vh-36px);
  width: 100%;
  z-index: 0;
  position: absolute;
  top: calc(63px);
  bottom: 0;
  left: 0;
  right: 0;

  &__sidenav {
    overflow: scroll;
  }

  &__sidenav-list_item {
    font-size: 1.4em;
    font-weight: 400;
  }

  &__active-menu-item {
    color: mat-color($app-primary);
  }
}



.logo {
  width: 125px;
}
