<mat-nav-list class="sidenav-list wall__sidenav_size">
  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="/account/feeds"
  >
    <h4 matLine>News Feeds</h4>
    <!-- <mat-icon>dashboard</mat-icon> -->
    <svg-icon icon="dashboard"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="profile"
  >
    <h4 matLine>{{getProfileName()}}</h4>
    <!-- <mat-icon>person_outline</mat-icon> -->
        <svg-icon icon="profile"></svg-icon>
  </mat-list-item>

<!--  <mat-list-item-->
<!--    class="wall__sidenav-list_item"-->
<!--    [routerLinkActive]="['wall__active-menu-item']"-->
<!--    routerLink="jobs"-->
<!--  >-->
<!--    <h4 matLine>Messages</h4>-->
<!--    &lt;!&ndash; <mat-icon>event</mat-icon> &ndash;&gt;-->
<!--    <svg-icon icon="chat"></svg-icon>-->
<!--  </mat-list-item>-->

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="friends"
  >
    <h4 matLine>Friends</h4>
    <!-- <mat-icon>card_travel</mat-icon> -->
    <svg-icon icon="friends"></svg-icon>
  </mat-list-item>

<!--  <mat-list-item-->
<!--    class="wall__sidenav-list_item"-->
<!--    [routerLinkActive]="['wall__active-menu-item']"-->
<!--    routerLink="logs"-->
<!--  >-->
<!--    <h4 matLine>Pages</h4>-->
<!--    &lt;!&ndash; <mat-icon>list_alt</mat-icon> &ndash;&gt;-->
<!--        <svg-icon icon="pages"></svg-icon>-->
<!--  </mat-list-item>-->

<!--  <mat-list-item-->
<!--    class="wall__sidenav-list_item"-->
<!--    [routerLinkActive]="['wall__active-menu-item']"-->
<!--    routerLink="recovery-officers"-->
<!--  >-->
<!--    <h4 matLine>Groups</h4>-->
<!--    &lt;!&ndash; <mat-icon>supervised_user_circle</mat-icon> &ndash;&gt;-->
<!--        <svg-icon icon="groups"></svg-icon>-->
<!--  </mat-list-item>-->

<!--  <mat-list-item-->
<!--    class="wall__sidenav-list_item"-->
<!--    [routerLinkActive]="['wall__active-menu-item']"-->
<!--    routerLink="tracking"-->
<!--  >-->
<!--    <h4 matLine>Settings</h4>-->
<!--    &lt;!&ndash; <mat-icon>place</mat-icon> &ndash;&gt;-->
<!--        <svg-icon icon="settings"></svg-icon>-->
<!--  </mat-list-item>-->
</mat-nav-list>
