<mat-nav-list class="sidenav-list wall__sidenav_size">
  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="wall"
  >
    <h4 matLine>News Feeds</h4>
    <!-- <mat-icon>dashboard</mat-icon> -->
    <svg-icon icon="dashboard"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="customers"
  >
    <h4 matLine>Vishwajith Weerasinghe</h4>
    <!-- <mat-icon>person_outline</mat-icon> -->
        <svg-icon icon="profile"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="jobs"
  >
    <h4 matLine>Messages</h4>
    <!-- <mat-icon>event</mat-icon> -->
    <svg-icon icon="chat"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="visits"
  >
    <h4 matLine>Friends</h4>
    <!-- <mat-icon>card_travel</mat-icon> -->
    <svg-icon icon="friends"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="logs"
  >
    <h4 matLine>Pages</h4>
    <!-- <mat-icon>list_alt</mat-icon> -->
        <svg-icon icon="pages"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="recovery-officers"
  >
    <h4 matLine>Groups</h4>
    <!-- <mat-icon>supervised_user_circle</mat-icon> -->
        <svg-icon icon="groups"></svg-icon>
  </mat-list-item>

  <mat-list-item
    class="wall__sidenav-list_item"
    [routerLinkActive]="['wall__active-menu-item']"
    routerLink="tracking"
  >
    <h4 matLine>Settings</h4>
    <!-- <mat-icon>place</mat-icon> -->
        <svg-icon icon="settings"></svg-icon>
  </mat-list-item>
</mat-nav-list>
