<mat-card class="friends-card friends-card__cover">
  <ngx-spinner name="{{'spinner_' + _uid.toString() }}" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom"
               [fullScreen]="false"></ngx-spinner>
  <!--  <div class="row">-->
  <!--    <h2 class="text-center">Vishwajith Weerasinghe</h2>-->
  <!--  </div>-->
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="friends-card__ friends-card__avatar" [style]="getAvatar()"></div>
    </div>
    <div class="col-md-7 text-center">
      <div class="friends-card__name_title">
        <h5 class="text-center"><b>{{firstName + " " +lastName}}</b></h5>
      </div>
      <div class="friends-card__name_title">
        <mat-chip-list>
          <mat-chip *ngIf="acadamicYear">{{acadamicYear}}</mat-chip>
          <mat-chip *ngIf="faculty">{{faculty}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="friends-card__name_title">
        <button *ngIf="isAFriend==='false'" (click)="addFriend(_uid)" mat-icon-button aria-label="Send Request" matTooltip="Send Request">
          <svg-icon customSVGCss="" icon="add_user"></svg-icon>
        </button>
        <button *ngIf="isAFriend==='true'" (click)="removeFriend(_uid)" mat-icon-button aria-label="Remove Friend" matTooltip="Remove Friend">
          <svg-icon customSVGCss="" icon="added-user"></svg-icon>
        </button>
<!--        <button mat-icon-button aria-label="Send Message" matTooltip="Send Message">-->
<!--          <svg-icon customSVGCss="" icon="chat"></svg-icon>-->
<!--&lt;!&ndash;          <mat-icon>home</mat-icon>&ndash;&gt;-->
<!--        </button>-->
      </div>
      <!--      <button mat-raised-button style="margin-top: 10px;width: 100%" color="primary">Add Friend</button>-->
      <!--      <button mat-raised-button style="margin-top: 5px;width: 100%" color="accent" routerLink="/account/feeds/people">View Profile</button>-->
    </div>
  </div>
</mat-card>
