<mat-card class="friends-card friends-card__cover">

  <div class="row">
    <h2 class="text-center">Vishwajith Weerasinghe</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="friends-card__ friends-card__avatar"></div>
    </div>
    <div class="col-md-6">
      <button mat-raised-button style="margin-top: 10px;width: 100%" color="primary">Add Friend</button>
      <button mat-raised-button style="margin-top: 5px;width: 100%" color="accent">View Profile</button>
    </div>
  </div>
</mat-card>
