<div class="login-background">
  <mat-toolbar color="primary" class="d-none d-sm-block" style="padding-top: 10px;">
    <div class="container">
      <span><img class="logo" src="../../../assets/logo.svg"></span>
    </div>
  </mat-toolbar>
  <div class="container">
    <div class="row d-none d-sm-block">
      <div class="col-md-12">
        <p class="login-welcome-title text-center">Welcome to Yatter</p>
        <p class="login-welcome-subtitle text-center">
          Share your memories, connect with others, make new friends
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="text-center">
          <img src="../../../assets/login-background.svg" alt="" class="login-image" />
        </div>
      </div>
      <div class="col-md-4">
        <mat-card class="col-centered login-card">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
