<mat-card class="post">
  <mat-card-header>
    <div
      mat-card-avatar
      class="post__header-image"
      style="background-image: url('/assets/uploads/profile.jpg')"
    ></div>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="postType=='checkin'">{{ postType=='checkin'? subTitle + ' @ '+ postContent: subTitle }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="postType=='feeling'">{{ postType=='feeling'? subTitle + ' @ '+ postContent: subTitle }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="imagePath" mat-card-image src="{{ imagePath }}" />

  <mat-card-content class="post__card-content">
    <div class="post__colored-post colored-post" [ngClass]="getClass()" *ngIf="postType==='coloredPost'">
      <div class="colored-post__text-wrapper">
        <span class="colored-post__text-area">{{postContent}}</span>
      </div>
    </div>


  </mat-card-content>
  <mat-card-actions>
    <div style="text-align: left;position: absolute;margin: 0 10px;">
      <a href="#" class="float-right" style="text-decoration: none;">{{ noOfComments }} Likes</a>
    </div>
    <div style="text-align: right;width: 95%;position: absolute;">
      <a href="#" class="float-right" style="text-decoration: none;">{{ noOfComments }} Comments</a>
    </div>
  </mat-card-actions>
  <mat-card-actions>
    <button style="width: 30%" mat-button>Like</button>
    <button style="width: 30%" mat-button>Comment</button>
    <button style="width: 30%" mat-button>Share</button>
  </mat-card-actions>
</mat-card>
